

body {
    padding-top: 80px;
}

h2, h3 {
    text-align: center;
}

.d-flex.justify-content-center {
    display: flex;
    justify-content: center;
}


.calendar-container .react-calendar {
    width: 100%;
    max-width: 600px; 
    height: auto; 
}

.input-group {
    margin-bottom: 30px; 
}

    .input-group .input-label {
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
    }

.radio-group {
    display: flex; 
    gap: 20px; 
}


    .radio-group input {
        margin-right: 8px; 
    }


.react-calendar__tile--event-day {
    background-color: rgba(255, 0, 0, 0.4) !important;
    color: blue !important;
}

.card {
    min-width: 300px;
}


footer {
    width: 100vw; 
    left: 0;
    right: 0;
    background-color: #f8f9fa; 
    padding: 10px 0;
}

    footer .text-center {
        max-width: 1200px; 
        margin: 0 auto; 
    }


