

body {
    padding-top: 80px;
}

h2, h3 {
    text-align: center;
}

.d-flex.justify-content-center {
    display: flex;
    justify-content: center;
}

.calendar-container .react-calendar {
    width: 100%;
    max-width: 600px; 
    height: auto; 
}

.input-group {
    margin-bottom: 30px; 
}

    .input-group .input-label {
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
    }

.radio-group {
    display: flex; 
    gap: 20px; 
}


    .radio-group input {
        margin-right: 8px; 
    }


/* Stylizacja kafelków kalendarza */
.react-calendar__tile--event-day {
    background-color: #ccffcc !important; /* Kolor dla dnia z wydarzeniami */
}


.react-calendar__tile--exam-day {
    background-color: rgba(255, 68, 68, 0.5) !important; /* Pó³przezroczysty czerwony */
}


/* Stylizacja legendy */
.legend-container {
    margin-top: 20px;
}

.legend-list {
    justify-content: center;
    gap: 20px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.legend-event {
    background-color: #ccffcc; /* Kolor dnia z wydarzeniem */
}

.legend-exam {
    background-color: #ff4444;
}


.card {
    min-width: 300px;
}

.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* wysokoœæ, aby spinner by³ wyœrodkowany w pionie */
}


footer {
    width: 100vw; 
    left: 0;
    right: 0;
    background-color: #f8f9fa; 
    padding: 10px 0;
}

    footer .text-center {
        max-width: 1200px; 
        margin: 0 auto; 
    }


