body {
    padding-top: 80px;
}

.input-group {
    margin-bottom: 30px; 
}

    .input-group .input-label {
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
    }

.radio-group {
    display: flex; 
    gap: 20px; 
}


    .radio-group input {
        margin-right: 8px; 
    }


footer {
    width: 100vw; 
    left: 0;
    right: 0;
    background-color: #f8f9fa; 
    padding: 10px 0;
}

    footer .text-center {
        max-width: 1200px; 
        margin: 0 auto; 
    }


