
.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-icon {
    margin-right: 8px;  Odstêp miêdzy ikon¹ a tekstem 
}
/* Dodajemy animacjê dla navbaru */
.navbar {
    transition: transform 0.3s ease, opacity 0.3s ease; /* P³ynne przejœcie dla transform i opacity */
}

    /* Ukrywanie navbaru */
    .navbar.hidden {
        transform: translateY(-100%); /* Przesuniêcie navbaru do góry */
        opacity: 0; /* Ustawienie przezroczystoœci na 0 */
    }

    /* Pokazywanie navbaru */
    .navbar.visible {
        transform: translateY(0); /* Ustawienie navbaru w normalnej pozycji */
        opacity: 1; /* Ustawienie pe³nej widocznoœci */
    }



.cart-count {
    background-color: #f00;
    color: #fff;
    padding: 0 8px;
    border-radius: 50%;
    font-size: 0.9rem;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
