body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBarItems, .logo, .nav-menu, .nav-links {
    border: 1px solid red; /* Tymczasowe obramowanie */
}

.NavBarItems

{
    display: flex;
    justify-content: space-between; /* Rozstawienie logo i menu */
    align-items: center;
    font-size: 0.9rem;
    padding: 0 25px; /* Dodaj padding dla odstêpu od krawêdzi */
    margin: 0;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 65px;
    border-radius: 12px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}

.logo {
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Wyrównanie pionowe */
    justify-content: flex-start; /* Logo z lewej */
}

.nav-menu {
    display: flex;
    gap: 15px; /* Odstêpy miêdzy elementami menu */
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* Menu z prawej */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 0.8rem;
    white-space: nowrap;
}

.nav-links:hover {
    background: rgb(80, 80, 238);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.fa-times,
.fa-bars {
    color: #fff;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 850px) {
    .NavBarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 12px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding: 2rem 0;
        color: #222;
    }

    .nav-links:hover {
        background: rgb(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        /*transition: all 0.2s ease-in-out;*/
    }
}
